
<div class="jumbotron center">
  <h1>WE CAN AND WANT
    TO HELP!</h1>
  <p>
    The Los Angeles Film School is quickly becoming one of LA’s biggest resources for
    the production world. Need a stagehand? We have eager students eager to help and
    gain an experience. How about a place to shoot? We’re renting out our locations to
    some of the biggest shows on television.</p>
  <p>


    <%= link_to root_path, class: "btn btn-primary btn-lg" do %>
        BOOK A STUDENT <i class="glyphicon glyphicon-play"></i>
    <% end %>

    or

    <%= link_to root_path, class: "btn btn-primary btn-lg" do %>
        RENT A SPACE <i class="glyphicon glyphicon-play"></i>
    <% end %>

  </p>
</div>