
<%= link_to image_tag("http://lafilm.edu/sites/all/themes/lafilm/img/logo.png",  :class => "" ), root_path %>
<p class="navbar-text navbar-right">
  <%= link_to 'HELP' ,'http://www.google.com' %> |
  <%= link_to 'LOGIN' ,'http://www.google.com' %> |
  <%= link_to 'CART (0)' ,'http://www.google.com' %>
</p>

